@use '../custom' as *;

.menu {
    background: $white;

    img {
        height: 3rem;
        width: 7rem;
    }

    .navbar-toggler{
        width: 47px;
        height: 34px;
        background-color: $orange;
        border:none;
    }
    
    .nav-link {
        color: $black;
    
        &:hover {
            color: $orange;
          }
      }
}


