@use '../custom' as *;

.menu {
    background: $white;

    li {
        padding: 0 0.7rem;

        a {
            color: $pink !important;
            text-transform: capitalize;
            font-weight: 10;
        }
    }
}